* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color:rgb(221, 208, 200);
}

#container {
    width: 700px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #a5826d;
    border-radius: 10px;
}

#outerButtonContainer {
    width: 700px;
    padding: 30px 30px 0 30px;
}

#outerGridContainer {
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridContainer {
    background-color: white; 
    width: 640px; 
    height: 640px; 
    display: flex; 
    flex-wrap: wrap;
}

.gridBorder {
    border-top: 1px solid #DDD0C8; 
    border-left: 1px solid #DDD0C8;
}

.gridBorderRight{
    border-right: 1px solid #DDD0C8;
}

.gridBorderBottom{
    border-bottom: 1px solid #DDD0C8;
}

button {
    background-color: #FFCC00;
    font-weight: bolder;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

button:hover {
    background-color: #e6b800;
}

.rainbowButtonBackground {
    background-color: pink;
}

.rainbowButtonBackground:hover {
    background-color: plum;
}