* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#gridContainer {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.gridElement {
    border: 1px solid black;
}

#buttons {
    margin-top:30px;
}

button {
  background-color:#a9a9a9;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #999;
}